.card{
    max-width: 800 px;
    margin: 0 auto;
    padding: 10%;
}
li{
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
}
li.card:hover{
border: 1 px solid blue;
}
ol{
    padding: 0;
}